{% extends 'ZenezorejBaseBundle:Default:base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	<style>
		#main-content {

			padding: 1em;
			max-width: 1000px;
			margin: 0 auto;
		}

		#publications-content {

			padding: 1em;
			max-width: 1000px;
			margin: 0 auto;
		}

		.publication-item {
			color: black;
			padding: 0.5em;
			margin-bottom: 0.5em;
		}

		.publication-content {
			background: #a692a7;
			padding: 0.5em;
			-webkit-box-shadow: 5px 5px 5px 2px rgba(50, 50, 50, 0.6);
			box-shadow: 5px 5px 5px 2px rgba(50, 50, 50, 0.6);
		}

		.highlight-basic {
			font-weight: bold;
		}

		.highlight-center {
			font-weight: bold;
			text-align: center;
		}

		.my-item-container {
			padding: 0 1em;
		}

		.panel {
			border: 2px solid  #8e2c77;
		}
	</style>
	
{% endblock %}

{% block body %}

<div class="row" id="main-content">
	<div class="row-fluid" id="publications-content">

		{% for row in publications %}
			<div class="my-item-container col-lg-6">
				<div class="panel panel-default ">
					<div class="panel-heading">{{ row.authors }}</div>
					<div class="panel-body">
				    	<div> {{ row.title }} </div>

						{% if row.publisher|trim != "" %}
						    <div style="font-style:italic"> {{ row.publisher }} </div>
						{% endif %}
					</div>
				</div>
			</div>
    	{% endfor %}
		
	</div>

</div>

{% endblock %}
