{% extends 'ZenezorejBaseBundle:Default:base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	
	<style>

		#news-content {

			padding: 1em;
			max-width: 1000px;
			margin: 0 auto;
		}

		.news-item {
			color: black;
			
		}

		.my-item-container {
			padding: 0 1em;
		}

		.panel {
			border: 2px solid  #e87e8a;
		}
 	</style>
{% endblock %}

{% block body %}


<div class="row main-content" id="first-page">
	<div class="row-fluid" id="news-content">

		{% for row in opinions %}

			<div class="my-item-container col-lg-6">
				<div class="panel panel-default ">
					<div class="panel-body">
				    	{% if row.date != null %}
							{{ row.date|date("Y. M d.") }} <br>
						{% endif %}
					
						{{ row.title }}
					</div>
				</div>
			</div>
    	{% endfor %}
	</div>

</div>

{% endblock %}
