{% extends 'ZenezorejBaseBundle:Default:base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	<style>
		#main-content {

			padding: 1em;
			max-width: 1000px;
			margin: 0 auto;
		}

		#events-content {

			padding: 1em;
			max-width: 1000px;
			margin: 0 auto;
		}

		.event-item {
			color: black;
			padding: 0.5em;
			margin-bottom: 0.5em;
		}

		.event-content {
			background: #a692a7;
			padding: 0.2em;
			-webkit-box-shadow: 5px 5px 5px 2px rgba(50, 50, 50, 0.6);
			box-shadow: 5px 5px 5px 2px rgba(50, 50, 50, 0.6);
		}
	</style>
	
{% endblock %}

{% block body %}

<div class="row" id="main-content">
	<div class="row-fluid" id="events-content">

		{% for row in events %}
			<div class="my-item-container col-lg-6">
				<div class="panel panel-default ">
					<div class="panel-heading">{{ row.startDate|date("Y. M d.") }}</div>
					<div class="panel-body">
				    	{{ row.content|raw }}
					</div>
				</div>
			</div>
    	{% endfor %}
		
	</div>

</div>

{% endblock %}
