{% extends 'ZenezorejBaseBundle:Default:base.html.twig' %}


{% block body %}

<div class="row main-content" id="second-page">
	<div class="hero-unit">
		<h2>Filozófia</h2>
	    
	    <p>A párizsi Eiffel torony környékén sétálva, Bécsben a főutcán nézelődve gyakran megkaphatja szemünket egy festészeti performance. Fiatal művészek festékszóróval és néhány kiegészítővel a járókelők vizuális gyönyörködtetésére pillanatok alatt izgalmas képeket hoznak létre. Vajon mi a művészet igazi tárgya? Maga a kép? Vagy az, ahogyan létrejött? A 21. században egyre nagyobb jelentőséget kap az, hogy hogyan hozunk létre valamit. Az utcai festőknél is legalább annyira fontos a kép megszületésének módja, mint maga a kép. </p>

		<p>Az természetes, hogy a pedagógiának is lépést kell tartania a kor kívánalmaival: fontos az, hogy megtanítsuk gyermekeinket írni, olvasni. Ezt a Pisa-vizsgálatok fényében biztosan tudjuk. Ezért nem mindegy az, hogy hogyan tanítunk. Hogyan tanítsuk a betűt a kis elsősöknek, ha azt akarjuk, hogy jól olvassanak, hogy az olvasástanuláson keresztül megszeressék a tanulást, és mindezek mellett magukat jól érezve személyiségüket is építsék? A Budaörsi Logopédiai Intézetben megálmodott, az olvasástanításba integrálható zenezörejes módszer a posztmodernnek megfelelően a "hogyan" kérdésre keresi a választ. </p>

		<p>Alapul Meixner Ildikó logopédus-pszichológus olvasástanítási módszere szolgált, melyet diszlexia terápiában, diszlexia reedukációban, és persze többségi oktatásban is használnak. Azért választottuk ezt a módszert, mert minden gyermekhez egyformán szól, nem csak a jó képességűekhez. A mai magyar olvasástanítási módszerek közül talán ez a legalkalmasabb arra, hogy az összes gyermek megtanulhasson olvasni, ne csak azok, akik jobb értelmi- figyelmi-és koncentrációs képességgel rendelkeznek. </p>

		<p>A zenezörej ezt, a Meixner Ildikó által didaktikailag ideálisan felépített módszert egészíti ki, dúsítja a kor kívánalmai szerint. Minden betűt mese hoz el az olvasni tanuló elsős gyerekeknek. Tudjuk, hogy a mesére elemi szükséglete van minden gyermeknek, (és még a felnőtteknek is). A mesehallgatás segíti belső képalkotó mechanizmusaikat, hiszen a történetet verbalitás, szó útján ismerik meg. Szemben a mesenézéssel, ahol a befogadás passzív: az információt képszerűen kapják meg. Ilyenkor nincs szükség a fantázia trenírozására. Pedig az olvasáshoz is belső képalkotásra van szükség. Ott is a szóbeliség (írott formája) lesz az, amely az olvasó számára megszüli az információt. A mesehallgatás ezért nem csak motivációs-, de jó tréning gyakorlat is! </p>

		<p id="last">A meséket zenezörejjel egészítjük ki, melyeknek figyelemfelkeltő és fantáziaserkentő hatása van. Nem gátolják a belső képkészítést, hiszen akusztikus (nem pedig vizuális) impulzusokról van szó. A zenezörej fura hangjelenségei késztetik a gyermeket arra, hogy bekerüljön a mesébe. A zenezörej így a gyermek és a betű között emocionális hidat képez, melyen áthaladva az olvasás nem csak tanulás lesz, hanem igazi öröm, mese és zene. 
		</p>

		<a href="http://logopedek.hu/munkatarsak/szucsantal.htm" style="float:left" target="_blank">Szűcs Antal Mór</a>
		<a href="http://logopedek.hu/munkatarsak/vanyiagnes.htm" style="float:right" target="_blank">Ványi Ágnes</a>
	</div>
</div>

{% endblock %}
